## Load data and initial inspection

### Subtask:
Load the dataset and perform initial checks (head, info, shape, describe, missing values).

In [4]:
# load the dataset
df = pd.read_csv('/content/PB_All_2000_2021.csv', sep=';')
print("Initial DataFrame head:")
print(df.head())

# Display dataset info
print("\nDataFrame Info:")
df.info()

# Display rows and cols
print(f"\nDataFrame shape: {df.shape}")

# Statistics of the data
print("\nDataFrame describe (transpose):")
print(df.describe().T)

# Missing values check
print("\nMissing values before dropping:")
print(df.isnull().sum())

Initial DataFrame head:
   id        date    NH4  BSK5  Suspended     O2    NO3    NO2    SO4    PO4  \
0   1  17.02.2000  0.330  2.77       12.0  12.30   9.50  0.057  154.0  0.454
1   1  11.05.2000  0.044  3.00       51.6  14.61  17.75  0.034  352.0  0.090
2   1  11.09.2000  0.032  2.10       24.5   9.87  13.80  0.173  416.0  0.200
3   1  13.12.2000  0.170  2.23       35.6  12.40  17.13  0.099  275.2  0.377
4   1  02.03.2001  0.000  3.03       48.8  14.69  10.00  0.065  281.6  0.134

       CL
0   289.5
1  1792.0
2  2509.0
3  1264.0
4  1462.0

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   object
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 246.0+ KB

DataFrame shape: (2861, 11)

DataFrame describe (transpose):
            count       mean         std   min      25%     50%       75%  \
id         2861.0  12.397064    6.084226  1.00   8.0000  14.000  16.00000
NH4        2858.0   0.758734    2.486247  0.00   0.0800   0.220   0.50000
BSK5       2860.0   4.316182    2.973997  0.00   2.1600   3.800   5.80000
Suspended  2845.0  12.931905   16.543097  0.00   6.0000  10.000  15.00000
O2         2858.0   9.508902    4.428260  0.00   7.0925   8.995  11.52000
NO3        2860.0   4.316846    6.881188  0.00   1.3900   2.800   5.58250
NO2        2858.0   0.246128    2.182777  0.00   0.0300   0.059   0.12575
SO4        2812.0  59.362313   96.582641  0.00  27.0525  37.800  64.64000
PO4        2833.0   0.418626    0.771326  0.00   0.1300   0.270   0.47000
CL         2812.0  93.731991  394.512184  0.02  26.8000  33.900  45.60750

                max
id           22.000
NH4          39.427
BSK5         50.900
Suspended   595.000
O2           90.000
NO3         133.400
NO2         109.000
SO4        3573.400
PO4          13.879
CL         5615.280

Missing values before dropping:
id            0
date          0
NH4           3
BSK5          1
Suspended    16
O2            3
NO3           1
NO2           3
SO4          49
PO4          28
CL           49
dtype: int64

## Data preprocessing

### Subtask:
Handle date conversion, sort data, add year and month columns, define pollutant columns, and drop rows with missing pollutant values.

In [5]:
# Convert 'date' column to datetime objects
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
print("\nDataFrame head after date conversion:")
display(df.head())
print("\nDataFrame Info after date conversion:")
df.info()

# Sort DataFrame by 'id' and 'date'
df = df.sort_values(by=['id', 'date'])
print("\nDataFrame head after sorting:")
display(df.head())

# Extract 'year' and 'month' from the 'date' column
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
print("\nDataFrame head after adding year and month:")
display(df.head())

print("\nDataFrame columns:")
print(df.columns)

# Define the pollutant columns
pollutants = ['NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4', 'PO4', 'CL']

# Drop rows with missing values in the pollutant columns
df.dropna(subset=pollutants, inplace=True)
print("\nMissing values after dropping rows with NaNs in pollutants:")
print(df.isnull().sum())
print(f"DataFrame shape after dropping NaNs: {df.shape}")

DataFrame head after date conversion:

,id,date,NH4,BSK5,Suspended,O2,NO3,NO2,SO4,PO4,CL
0,1,2000-02-17,0.330,2.77,12.0,12.30,9.50,0.057,154.0,0.454,289.5
1,1,2000-05-11,0.044,3.00,51.6,14.61,17.75,0.034,352.0,0.090,1792.0
2,1,2000-09-11,0.032,2.10,24.5,9.87,13.80,0.173,416.0,0.200,2509.0
3,1,2000-12-13,0.170,2.23,35.6,12.40,17.13,0.099,275.2,0.377,1264.0
4,1,2001-03-02,0.000,3.03,48.8,14.69,10.00,0.065,281.6,0.134,1462.0

DataFrame Info after date conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   datetime64[ns]
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 246.0 KB

DataFrame head after sorting:

,id,date,NH4,BSK5,Suspended,O2,NO3,NO2,SO4,PO4,CL
0,1,2000-02-17,0.330,2.77,12.0,12.30,9.50,0.057,154.0,0.454,289.5
1,1,2000-05-11,0.044,3.00,51.6,14.61,17.75,0.034,352.0,0.090,1792.0
2,1,2000-09-11,0.032,2.10,24.5,9.87,13.80,0.173,416.0,0.200,2509.0
3,1,2000-12-13,0.170,2.23,35.6,12.40,17.13,0.099,275.2,0.377,1264.0
4,1,2001-03-02,0.000,3.03,48.8,14.69,10.00,0.065,281.6,0.134,1462.0

DataFrame head after adding year and month:

,id,date,NH4,BSK5,Suspended,O2,NO3,NO2,SO4,PO4,CL,year,month
0,1,2000-02-17,0.330,2.77,12.0,12.30,9.50,0.057,154.0,0.454,289.5,2000,2
1,1,2000-05-11,0.044,3.00,51.6,14.61,17.75,0.034,352.0,0.090,1792.0,2000,5
2,1,2000-09-11,0.032,2.10,24.5,9.87,13.80,0.173,416.0,0.200,2509.0,2000,9
3,1,2000-12-13,0.170,2.23,35.6,12.40,17.13,0.099,275.2,0.377,1264.0,2000,12
4,1,2001-03-02,0.000,3.03,48.8,14.69,10.00,0.065,281.6,0.134,1462.0,2001,3

DataFrame columns:
Index(['id', 'date', 'NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL', 'year', 'month'],
      dtype='object')

Missing values after dropping rows with NaNs in pollutants:
id           0
date         0
NH4          0
BSK5         0
Suspended    0
O2           0
NO3          0
NO2          0
SO4          0
PO4          0
CL           0
year         0
month        0
dtype: int64
DataFrame shape after dropping NaNs: (2776, 13)

## Feature engineering

### Subtask:
Select features and targets, and perform one-hot encoding on the 'id' column.

In [6]:
# Feature and target selection
# X (independent variables) includes 'id' and 'year'
X = df[['id', 'year']]
# y (dependent variables/targets) includes the pollutant levels
y = df[pollutants]

# One-hot encoding for the 'id' column
# This converts categorical station IDs into numerical format suitable for the model
# drop_first=True avoids multicollinearity
X_encoded = pd.get_dummies(X, columns=['id'], drop_first=True)
print("\nFeatures (X_encoded) head after one-hot encoding:")
display(X_encoded.head())
print(f"Shape of X_encoded: {X_encoded.shape}")

Features (X_encoded) head after one-hot encoding:

,year,id_2,id_3,id_4,id_5,id_6,id_7,id_8,id_9,id_10,...,id_13,id_14,id_15,id_16,id_17,id_18,id_19,id_20,id_21,id_22
0,2000,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2000,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2000,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2000,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2001,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Shape of X_encoded: (2776, 22)

## Model training

### Subtask:
Split the data into training and testing sets, initialize and train the `MultiOutputRegressor` model.

In [7]:
# Split data into training and testing sets
# test_size=0.2 means 20% of data will be used for testing
# random_state=42 ensures reproducibility of the split
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)
print(f"\nX_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

# Initialize and train the MultiOutputRegressor model
# Using RandomForestRegressor as the base estimator with 100 trees
# random_state=42 ensures reproducibility of the Random Forest
model = MultiOutputRegressor(RandomForestRegressor(n_estimators=100, random_state=42))

# Fit the model to the training data
print("\nTraining the model...")
model.fit(X_train, y_train)
print("Model training complete.")

X_train shape: (2220, 22)
X_test shape: (556, 22)
y_train shape: (2220, 9)
y_test shape: (556, 9)

Training the model...
Model training complete.

## Model evaluation

### Subtask:
Evaluate the trained model on the test data and print performance metrics for each pollutant.

**Reasoning**:
Evaluate the trained model on the test data and print performance metrics for each pollutant as requested.

In [8]:
# Evaluate model performance on the test data
y_pred = model.predict(X_test)

print("\nModel Performance on the Test Data:")
for i, pollutant in enumerate(pollutants):
    # Calculate Mean Squared Error (MSE) for each pollutant
    mse = mean_squared_error(y_test.iloc[:, i], y_pred[:, i])
    # Calculate R-squared (R2) score for each pollutant
    r2 = r2_score(y_test.iloc[:, i], y_pred[:, i])
    print(f'\n{pollutant}:')
    print(f'  MSE: {mse:.4f}')
    print(f'  R2: {r2:.4f}')

Model Performance on the Test Data:

NH4:
  MSE: 0.8827
  R2: 0.7802

BSK5:
  MSE: 5.3109
  R2: 0.1910

Suspended:
  MSE: 98.1778
  R2: 0.2050

O2:
  MSE: 13.9559
  R2: 0.0538

NO3:
  MSE: 20.4049
  R2: 0.4846

NO2:
  MSE: 10.3434
  R2: -58.2039

SO4:
  MSE: 2275.8074
  R2: 0.4482

PO4:
  MSE: 0.2439
  R2: 0.4359

CL:
  MSE: 32661.4374
  R2: 0.7526

## Example prediction

### Subtask:
Create an example input, preprocess it, make a prediction using the trained model, and print the results.

**Reasoning**:
Create the example input DataFrame, perform one-hot encoding, align columns with training data, make a prediction using the trained model, and print the predicted values.

In [9]:
# Example prediction for a new station and year
station_id = '22'  # Replace with a real station ID
year_input = 2022

# Create a DataFrame for the input data
input_data = pd.DataFrame({'year': [year_input], 'id': [station_id]})

# One-hot encode the 'id' for the input data
# drop_first=False to ensure all categories from the input are potentially included
input_encoded = pd.get_dummies(input_data, columns=['id'], drop_first=False)

# Align input_encoded columns with the training feature columns (X_encoded.columns)
# This is crucial to ensure the new input has the same features as the training data
missing_cols = set(X_encoded.columns) - set(input_encoded.columns)
for col in missing_cols:
    input_encoded[col] = 0 # Add missing columns with a value of 0

# Reorder columns to match the training data's column order
input_encoded = input_encoded[X_encoded.columns]

# Predict pollutant levels using the trained model
predicted_pollutants = model.predict(input_encoded)[0] # [0] to get the first (and only) prediction

print(f"\nPredicted pollutant levels for station {station_id} in {year_input}:")
for p, val in zip(pollutants, predicted_pollutants):
    print(f"  {p}: {val:.2f}")

Predicted pollutant levels for station 22 in 2022:
  NH4: 0.03
  BSK5: 2.57
  Suspended: 5.69
  O2: 13.25
  NO3: 6.93
  NO2: 0.07
  SO4: 144.84
  PO4: 0.46
  CL: 67.36

## Save model and columns

### Subtask:
Save the trained model and the list of columns used for training.

In [10]:
# Save the trained model and the list of columns used for training
# This allows you to load the model later without retraining
joblib.dump(model, 'pollution_model.pkl')
joblib.dump(X_encoded.columns.tolist(), "model_columns.pkl")
print('\nModel and columns structure saved successfully as pollution_model.pkl and model_columns.pkl')

Model and columns structure saved successfully as pollution_model.pkl and model_columns.pkl